<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="profile_pic">
            <img src="/img/eindhovenLogo.PNG" alt="..." class="img-circle profile_img">
        </div>

        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><span>Subsidie Eindhoven</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <!--
            <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            -->
            <div class="profile_info">
                <span>Welkom,</span>
                <h3>{{user.firstName}} {{user.lastName}} {{user.companyName}}</h3>
                {{#unless user.municipality}}
                    <span>Token rekening:
                        <br>
                        {{user.bankAccount}}
                    </span>
                {{/unless}}
                <br>
                {{#if user.subsidyAccount}}
                    <span>Subsidie rekening:
                    <br>
                    {{user.subsidyAccount}}</span>
                {{/if}}
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">

                <ul class="nav side-menu">
                    <li>
                        <a href="/"><i class="fa fa-home"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/users/profile"><i class="fa fa-user"></i> Profiel</a>
                    </li>
                    <!--
                    <li>
                        <a href="/inbox"><i class="fa fa-envelope"></i> Inbox <span class="label label-success pull-right">12</span></a>
                    </li>
                    <li>
                        <a href="/contacts"><i class="fa fa-group"></i> Vrienden</a>
                    </li>
                    <li>
                        <a href="/calendar"><i class="fa fa-calendar"></i> Kalender</a>
                    </li>
                    -->
                    <li>
                        <a href="/kids"><i class="fa fa-child"></i> Kinderen</a>
                    </li>
                    <li>
                        <a href="/companies"><i class="fa fa-bank"></i> Bedrijven</a>
                    </li>
                    <li>
                        <a href="/transactions"><i class="fa fa-euro"></i> Transacties</a>
                    </li>
                    {{#if user.municipality}}
                        <li>
                            <a href="/transactions/subsidy"><i class="fa fa-euro"></i> Subsidies</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>

        <!-- /left col scroll view -->
    </div>
    <!-- /col-md-3 left col-->
</div>