<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Subsidies</h3>
            </div>

            <!--
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Zoeken...">
                                    <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Vind!</button>
                                </span>
                                </div>
                            </div>
                        </div>
            -->

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable-responsive" class="table table-bordered dt-responsive nowrap" cellspacing="0" width="">
                            <thead>
                            <tr>
                                <th>Van</th>
                                <th>Naar</th>
                                <th>Hoeveelheid</th>
                                <th>Token Transactie ID</th>
                                <th>Datum</th>
                            </tr>
                            </thead>
                            {{#if subsidy}}

                            <tbody>
                            {{#each subsidy}}
                                <tr>
                                    <td><a href="/companies/detail/{{from.id}}">{{from.companyName}}</a></td>
                                    <td><a href="/companies/detail/{{to.id}}">{{to.companyName}}</a></td>
                                    <td>{{amount}}</span></td>
                                    <td>{{transactionId}}</span></td>
                                    <td>{{formatDate date 'llll'}}</span></td>
                                </tr>
                            {{/each}}
                            </tbody>
                            {{else}}
                                <p>Er zijn nog geen transacties gemaakt.</p>
                            {{/if}}
                        </table>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /page content -->
